# This is the golbal configuration file of instances.
#

# The local configuration file name of the instance
INSTLOCALCONFNAME = .z16.l.conf

# The parent folder path of the instance, absolute path
PARENTDIR = /tmp/z16.tmp.d

# The owner of the symbolic links and their targets
USER =

# The group of the symbolic links and their targets
GROUP =

# Ignored file patterns which are seperated by commas.
# Every pattern is a POSIX extended regular expression, and
# should include the path relative to the instance directory.
IGNORE =

